<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Personal</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <a th:href="@{/}">Volver al menú</a>
    <br>
    <body>
        <h1>Lista de personal</h1>
        <table border="1">
            <tr>
                <th>DNI</th>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Contraseña</th>
                <th colspan="2">Funciones</th>
            </tr>
            <tr th:each="personal:${personal}">
                <td th:text="${personal.dni}"></td>
                <td th:text="${personal.nombre}"></td>
                <td th:text="${personal.telefono}"></td>
                <td th:text="${personal.contrasena}"></td>
                <td><a th:href="@{/personal/updatepersonalform/{id} (id=${personal.dni}) }">Editar</a></td>
                <td><a th:href="@{/personal/deletepersonal/{id} (id=${personal.dni}) }">Eliminar</a></td>
            </tr>
        </table>
        <br>
        <a th:href="@{/personal/altapersonalform}">Agregar personal</a>
    </body>
</html>
