<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Modificar personal</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h1>Modificar personal</h1>
        </div>
        <div id="contenedor">
            <div id="Formulario">
                <form name="miForm" th:action="@{/personal/updatepersonal}" method="post">
                    <label for="dni">DNI</label>
                    <input type="text" name="dni" id="dni" th:value="${FUPersonal.dni}" readonly/>
                    <br/>
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" id="nombre" th:value="${FUPersonal.nombre}"/>
                    <br/>
                    <label for="telefono">Teléfono</label>
                    <input type="text" name="telefono" id="telefono" th:value="${FUPersonal.telefono}"/>
                    <br>
                    <label for="email">Contraseña</label>
                    <input type="text" name="contrasena" id="contrasena" th:value="${FUPersonal.contrasena}"/>
                    <br>
                    <input type="submit" name="submit" value="Modificar"/>
                </form>
                <a th:href="@{/clientes}">Volver</a>
            </div>
        </div>
    </body>
</html>
