<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>MENÚ</h1>
        <table>
            <tr>
                <th>
                    <a th:href="@{/clientes}">Clientes</a>
                </th>
                <th>
                    <a th:href="@{/personal}">Personal</a>
                </th>
                <th>
                    <a th:href="@{/proveedores}">Proveedores</a>
                </th>
            </tr>
            <tr>
                <th>
                    <a th:href="@{/productos}">Productos</a>
                </th>
            </tr>
        </table>
    </body>
</html>
